@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(Inter-Black.ttf) format('truetype');
  font-style: normal;
  font-weight: 900;
}
