@import '@styles/mixins';

.tiles {
  display: grid;
  grid-template-areas:
    "tile-1 tile-2 tile-3"
    "tile-4 tile-5 tile-5";
  height: 282px;
  gap: 1px;
}

.tile {
  @include size(408px, 141px);
}

.doubleTile {
  grid-area: tile-5;
  height: 141px;
}

@for $i from 1 through 4 {
  ul:nth-child(#{$i}) {
    grid-area: #{$i};
  }
}

.link {
  text-decoration: underline;
  & + & {
    margin-left: 16px;
  }
}
