@import '@styles/mixins';

.curriculumScheduleWrapper {
  display: flex;
  background-color: var(--second-1);
  padding: 24px;
}

.curriculumSchedule {
  border-collapse: collapse;
}

.curriculumScheduleContent {
  overflow-x: auto;
  padding-bottom: 20px;
  display: flex;
}

.curriculumScheduleHeader {
  @include text(12px, var(--base-1), 17px, normal, 600);
  padding: 8px 16px 7px;
  white-space: nowrap;
  border: 1px solid var(--second-2);
  text-align: left;
}

.curriculumScheduleHeaderRow {
  border-bottom: 1px solid var(--second-2);
}
