@import '@styles/mixins';

.tile {
  padding: 24px;
  @include size(100%);
  background-color: var(--base-2);;
  display: flex;
  flex-direction: column;
}

.tileTitle {
  @include text(16px, var(--second-3),  19px, normal, 500);
  text-transform: uppercase;
  margin-bottom: 16px;
  height: 19px;
}

.tileContent {
  @include text(20px, var(--base-1),  29px, normal, 500);
  background-color: var(--base-2);;
}
