$black: #202020;
$white: #ffffff;
$gray: #BDBDBD;
$bg-color: #f6f6f7;
$blue-1: #0165FF;

:root {
  --black: #{$black};
  --white: #{$white};
  --gray: #{$gray};
  --bg-color: #{$bg-color};
  --blue-1: #{$blue-1};
}
