$base-1: #202020;
$second-1: #ffffff;
$second-2: #E6E6E6;
$second-3: #BDBDBD;
$blue-1: #0165FF;

$bg-color: #f6f6f7;


$preferred: #D0DBFF;
$issued: #FCF3A6;
$created: #FDDDBF;
$confirmed: #BFEA94;

:root {
  --base-1: #{$base-1};
  --second-1: #{$second-1};
  --second-2: #{$second-2};
  --second-3: #{$second-3};
  --blue-1: #{$blue-1};

  --bg-color: #{$bg-color};

  --preferred: #{$preferred};
  --issued: #{$issued};
  --created: #{$created};
  --confirmed: #{$confirmed};
}
