
// Font Family
$font-family: 'Inter', serif;

// Base Font for HTML
$base-font-size: 14px;

html {
  overflow-x: hidden;
}

// Make type normal across browsers
*, html, body {
  font-size: $base-font-size;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
