@import '@styles/colors';
@import '@styles/mixins';

.curriculumCell {
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.curriculumCellPreferred {
  background-color: var(--preferred);
}

.curriculumCellHeader {
  height: 41px;
  padding: 16px 16px 8px;
}

.curriculumCellLink {
  @include text(12px, var(--blue-1), 17px, normal, 600);
  text-decoration: underline;
}

.curriculumCellButton {
  width: 100%;
}

.curriculumCellList {
  flex: 1;
  height: auto;
  padding: 8px 16px;
  border-bottom: 1px solid var(--second-2);
}

.curriculumCellListItem {
  height: 17px;

  & + & {
    margin-top: 8px;
  }
}

.curriculumCellActions {
  padding-bottom: 8px;
  padding: 8px 16px;
  height: 49px;
  border-bottom: 1px solid var(--second-2);
}

.curriculumCellFooter {
  padding: 16px;
  height: 49px;
}
