@import '@styles/mixins';
@import '@styles/colors';

.directionsTable {
  width: 288px;
  margin-right: 16px;
}

.directionsTableSidebar {
  width: 288px;
}

.directionsTableDataPreferred {
  background-color: var(--preferred);
}

.directionsTableHeaderFirst {
  height: 99px;
  vertical-align: middle;
}

.directionsTableHeaderLast {
  padding: 16px;
  width: 50%;
  height: 49px;
  vertical-align: middle;
}

.directionsTableData {
  border: 1px solid var(--second-2);
  height: 173px;
  min-width: 155px;
  vertical-align: middle;
  padding: 16px;
  height: 222px;
}

.directionsTableDataFirst {
  height: 172px;
}


