@import '@styles/mixins';

.tableResources {
  display: flex;
  height: 30px;
}

.tableResource {
  @include text(20px, var(--black-1), 29px, normal, 400);
  display: flex;
  align-items: center;

  & + & {
    margin-left: 40px;
  }
}

.tableResourceBadge {
  @include size(24px);
  display: block;
  margin-right: 8px;
}
