@import '@styles/colors';
@import '@styles/mixins';

.resetCell {
  @include center();
  transition: all 0.3s ease-in-out;
}

.resetCellForbidden {
  background-color: var(--red-1);
}

.resetCellAllowed {
  background-color: var(--green-1);
}
